<div>
<form [formGroup]="registerForm" class="register-form">

  <mat-form-field class="register-full-width">
    <mat-label>اسم کامل</mat-label>
    <input (keypress)="namePress($event)" id="fullname" type="text" matInput formControlName="fullname" [errorStateMatcher]="matcher"  placeholder="اسم کامل خود را وارد کنید">
    <mat-error *ngIf="control.fullname.hasError('minlength')"></mat-error>
    <mat-hint>اسم کامل خود را وارد کنید</mat-hint>
  </mat-form-field>

  <mat-form-field class="register-full-width">
    <mat-label>تاریخ تولد</mat-label>
    <input id="date" matInput [matDatepicker]="picker" formControlName="birthDate" placeholder="تاریخ تولد خود را وارد کنید">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="register-full-width" dir="ltr">
    <mat-label>شماره موبایل</mat-label>
    <span matPrefix>+98 &nbsp;</span>
    <input (keypress)="mobilePress($event)" id="mobile" maxlength="11" type="tel" matInput placeholder="0918-000-0000" [errorStateMatcher]="matcher" formControlName="mobile">
    <mat-icon matSuffix>phone</mat-icon>
    <mat-error *ngIf="control.mobile.hasError('required')">شماره موبایل باید وارد شود</mat-error>
    <mat-error *ngIf="control.mobile.hasError('minlength')">شماره تلفن غلط وارد شده است.</mat-error>
  </mat-form-field>

  <mat-form-field class="register-full-width">
    <mat-label>کلمه عبور</mat-label>
    <input id="password" type="password" matInput formControlName="password" [errorStateMatcher]="matcher"  placeholder="رمز عبور خود را وارد کنید">
    <mat-error *ngIf="control.password.hasError('required')">رمز عبور الزامی است</mat-error>
    <mat-error *ngIf="control.password.hasError('minlength')">حداقل باید شش حرف باشد</mat-error>
    <mat-hint>کلمه عبور محرمانه خود را وارد کنید</mat-hint>
  </mat-form-field>



  <fieldset id="radio">
    <mat-radio-group formControlName="type" aria-label="Select an option" id="type">
      <mat-radio-button value="مشتری">مشتری</mat-radio-button>&nbsp;&nbsp;&nbsp;
      <mat-radio-button value="آرایشگر">آرایشگر</mat-radio-button>&nbsp;&nbsp;&nbsp;
      <mat-radio-button value="مالک">مالک آرایشگاه</mat-radio-button>&nbsp;&nbsp;&nbsp;
    </mat-radio-group>
  </fieldset>

  <button class="btn" mat-raised-button color="primary" (click)="show()">ثبت نام</button>

</form>
</div>
